<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    handleLogin = e =>{
        // e.preventDefault();
        // let name = e.target[0].value;
        // let password = e.target[1].value;
        // let req = new  XMLHttpRequest();
        // req.open("POST","/login",true);
        // req.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
        // req.onload = function(){
        //     console.log(this);
        // };
        // req.send(`name=${name}&password=${password}`);
    }
</script>
<form method="post" onsubmit="handleLogin(event)" action="/login">
    <label>
        姓名
        <input name="name" type="text">
    </label>
    <label>
        姓名
        <input name="password" type="password">
    </label>
    <p>
        <input type="submit" value="登陆"  >
    </p>
</form>
</body>
</html>